/* ||RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ||VARIABLES*/

:root {

    /* ||COLORS*/
    --BG-COLOR: #151515;
    --BG-DARK-COLOR: #000;

    /* ||FONTS*/
    --fS: 0.75rem;
    --FF: cursive;
}

/* ||MAIN STYLES*/

.main {
    background-color:var(--BG-COLOR);
    height: 100vh;
    position: absolute;
    text-align: center;
    width: 100%;
    
}

.main__form {
	background: #111;
	background: linear-gradient(#1b1b1b, #111);
	border-radius: 5px;
	border: 1px solid var(--BG-DARK-COLOR);
	box-shadow: inset 0 0 0 1px #272727;
	display: inline-block;
	margin: 160px auto 0;
	padding: 20px;
	position: relative;
	z-index: 1;
}

.main__input {
	background: linear-gradient(#333, #222);    
    background: #222;
    border-radius: 5px 0 0 5px;
    border: 1px solid #444;
    box-shadow: 0 2px 0 var(--BG-DARK-COLOR);
    display: block;
    float: left;
    font-family: var(--FF);
    font-size: var(--fS);
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    padding: 7px 0 7px 7px;
    text-shadow: 0 -1px 0 var(--BG-DARK-COLOR);
    width: 200px;
}

.main__input placeholder {
    color: #888;
}

.main__input:hover,
.main__input:focus,
.main__input:active {
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 var(--BG-DARK-COLOR);
    animation: glow 800ms ease-out infinite alternate;
    background: #292929;
    background: linear-gradient(#393939, #292929);
    border-color: #393;
    color:#efe;
    outline: none;

}

.main__button {
	background: linear-gradient(#333, #222);
	text-shadow: 0 -1px 0 var(--BG-DARK-COLOR);
    background: #222;
    border-left-color: var(--BG-DARK-COLOR);
    border-radius: 0 5px 5px 0;
    border: 1px solid #444;
    box-shadow: 0 2px 0 var(--BG-DARK-COLOR);
    color: #fff;
    display: block;
    float:left;
    font-family: var(--FF);
    font-size: var(--fS);
    font-weight: 400;
    height: 40px;
    margin-left: 5px;
    width: 80px;
}

.main__button:hover,
.main__button:focus {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    color:#5f5;
    outline: none;
}
.main__button:active {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 var(--BG-DARK-COLOR), inset 1px 0 1px #222;
}

@keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 var(--BG-DARK-COLOR);
    }

    100% {
        border-color: #676;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 var(--BG-DARK-COLOR);
    }
}